CentralnaBanka/WEB-INF/wsdl/banka.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="bankaService" 
	targetNamespace="http://banka"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://banka"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:globals="http://xml/globals"
	xmlns:faktura="http://xml/faktura"
	xmlns:mt102="http://xml/mt102"
	xmlns:mt103="http://xml/mt103"
	xmlns:mt900="http://xml/mt900"
	xmlns:mt910="http://xml/mt910"
	xmlns:izvod="http://xml/izvod"
	xmlns:zahtevzaizvod="http://xml/zahtevzaizvod"
	xmlns:nalogzaplacanje="http://xml/nalogzaplacanje">

	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns:tns="http://banka" 
			targetNamespace="http://banka" 
			version="1.0">

			<xs:import namespace="http://xml/globals" 
				schemaLocation="globals.xsd" />
			<xs:import namespace="http://xml/faktura" 
				schemaLocation="faktura.xsd" />
			<xs:import namespace="http://xml/mt102" 
				schemaLocation="MT102.xsd" />
			<xs:import namespace="http://xml/mt103" 
				schemaLocation="MT103.xsd" />
			<xs:import namespace="http://xml/mt900" 
				schemaLocation="MT900.xsd" />
			<xs:import namespace="http://xml/mt910" 
				schemaLocation="MT910.xsd" />
			<xs:import namespace="http://xml/izvod" 
				schemaLocation="izvod.xsd" />
			<xs:import namespace="http://xml/zahtevzaizvod" 
				schemaLocation="zahtevZaIzvod.xsd" />
			<xs:import namespace="http://xml/nalogzaplacanje" 
				schemaLocation="nalogZaPlacanje.xsd" />

			<xs:element name="nalogZaPlacanjeRequest" 
				type="nalogzaplacanje:TNalogZaPlacanje" />
			<xs:element name="zahtevZaIzvodRequest" 
				type="zahtevzaizvod:TZahtevZaIzvod" />
			<xs:element name="zahtevZaIzvodResponse" 
				type="izvod:TIzvod" />
			<xs:element name="mt102Request" type="mt102:TMT102" />
			<xs:element name="mt103Request" type="mt103:TMT103" />
			<xs:element name="mt900Request" type="mt900:TMT900" />
			<xs:element name="mt910Request" type="mt910:TMT910" />
			<xs:element name="boolean" type="xs:boolean" />
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="nalogZaPlacanjeRequest">
		<wsdl:part name="parameters" element="tns:nalogZaPlacanjeRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="nalogZaPlacanjeResponse">
		<wsdl:part name="parameters" element="tns:boolean">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="zahtevZaIzvodRequest">
		<wsdl:part name="parameters" element="tns:zahtevZaIzvodRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="zahtevZaIzvodResponse">
		<wsdl:part name="parameters" element="tns:zahtevZaIzvodResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="mt102Request">
		<wsdl:part name="parameters" element="tns:mt102Request">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="mt102Response">
		<wsdl:part name="parameters" element="tns:boolean">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="mt103Request">
		<wsdl:part name="parameters" element="tns:mt103Request">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="mt103Response">
		<wsdl:part name="parameters" element="tns:boolean">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="mt900Request">
		<wsdl:part name="parameters" element="tns:mt900Request">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="mt900Response">
		<wsdl:part name="parameters" element="tns:boolean">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="mt910Request">
		<wsdl:part name="parameters" element="tns:mt910Request">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="mt910Response">
		<wsdl:part name="parameters" element="tns:boolean">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="bankaPort">
		<wsdl:operation name="nalogZaPlacanje">
			<wsdl:input name="nalogZaPlacanjeRequest" message="tns:nalogZaPlacanjeRequest" />
			<wsdl:output name="nalogZaPlacanjeResponse" message="tns:nalogZaPlacanjeResponse" />
		</wsdl:operation>
		<wsdl:operation name="zahtevZaIzvod">
			<wsdl:input name="zahtevZaIzvodRequest" message="tns:zahtevZaIzvodRequest" />
			<wsdl:output name="zahtevZaIzvodResponse" message="tns:zahtevZaIzvodResponse" />
		</wsdl:operation>
		<wsdl:operation name="mt102">
			<wsdl:input name="mt102Request" message="tns:mt102Request" />
			<wsdl:output name="mt102Response" message="tns:mt102Response" />
		</wsdl:operation>
		<wsdl:operation name="mt103">
			<wsdl:input name="mt103Request" message="tns:mt103Request" />
			<wsdl:output name="mt103Response" message="tns:mt103Response" />
		</wsdl:operation>
		<wsdl:operation name="mt900">
			<wsdl:input name="mt900Request" message="tns:mt900Request" />
			<wsdl:output name="mt900Response" message="tns:mt900Response" />
		</wsdl:operation>
		<wsdl:operation name="mt910">
			<wsdl:input name="mt910Request" message="tns:mt910Request" />
			<wsdl:output name="mt910Response" message="tns:mt910Response" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="bankaBinding" type="tns:bankaPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="nalogZaPlacanje">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="nalogZaPlacanjeRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nalogZaPlacanjeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="zahtevZaIzvod">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="zahtevZaIzvodRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="zahtevZaIzvodResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="mt102">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="mt102Request">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="mt102Response">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="mt103">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="mt103Request">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="mt103Response">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="mt900">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="mt900Request">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="mt900Response">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="mt910">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="mt910Request">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="mt910Response">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="bankaService">
		<wsdl:port name="bankaPort" binding="tns:bankaBinding">
			<soap:address location="http://localhost:9090/banka" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
